@page
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>社区活动</th>
                <th>点数</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">*账号相关</td>
            </tr>
            <tr>
                <td rowspan="2">注册,邀请注册</td>
                <td>10</td>
                <td>使用了别人的邀请码</td>
            </tr>
            <tr>
                <td>10</td>
                <td>别人使用了你的邀请码完成注册</td>
            </tr>
            <tr>
                <td>激活Email</td>
                <td>20</td>
                <td>不是填写了Email就有点数，Email必须被验证激活</td>
            </tr>
        </tbody>
    </table>
</body>
</html>


