@page
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>常见问题*一起帮</title>
</head>
<body>
    <a href="/" data-toggle="tooltip" title="返回首页">
        <img src="~/images/logo-big.jpg" />
    </a>
    <div class="h2-inline">常见问题</div>
    <hr />
    <h1>账户</h1>
    <h3>Q：邀请码是怎么一回事？</h3>
    <h3>Q：为什么会提示“邀请人数达到上限”？</h3>
    <h3>Q：系统如何是确定“最后（上次）登录时间”的？</h3>
    <h3> <a href="/FAQ">Q：如何才能获得帮帮点？</a></h3>
</body>
</html>

