@page
<html>
<head>
    <title>首页·一起帮</title>

</head>
<body>
    <a href="/" data-toggle="tooltip" title="返回首页">
        <img src="~/images/logo-big.ico" />一起帮· 网络互助平台
    </a>
    <div>
        <img src="~/images/求助.png" alt="Alternate Text" />
        <h2>一对一远程协助</h2>
        <p>帮忙就要帮到底</p>
        <a href="/Problem"> 求 助</a>

    </div>
    <div>
        <img src="~/images/督促.png" alt="Alternate Text" />
        <h2>就让我来督促你</h2>
        <p>押上你的决心</p>
        <a href="/help"> 督 促</a>
    </div>
    <div>
        <img src="~/images/文章.png" alt="Alternate Text" />
        <h2>发布之前先付费</h2>
        <p>高质量内容的保证</p>
        <a href="/Article">文 章</a>
    </div>
    <hr />
    <a href="/FAQ">常见问题</a>
</body>
</html>